$material-symbols-font-path: '~material-symbols/';

@import '~material-symbols/outlined.scss';

.material-symbol {
  font-family: 'Material Symbols Outlined';
  line-height: 1;
  user-select: none;
  /* Default variations – tweak via inline style or overriding class */
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  font-size: 24px;
  color: #8C8C8C;
} 